// 颜色定义规范
$color-background = #222


// 文字颜色规范
$color-dark-grey = #333
$color-white = #ffffff
$color-btn-blue = #1852bc
$color-btn-green = #31b459
$color-text-grey = #666666
$color-title-black = #000
$color-title-red = #ff0000


//字体定义规范
$font-size-large-xxxx = 0.36rem
$font-size-large-xxx = 0.3rem
$font-size-large-xx = 0.28rem



